In [24]:
import pandas as pd

In [25]:
from multiprocessing import Pool, cpu_count, current_process

In [26]:
from joblib import Parallel, delayed

In [27]:
import json

In [28]:
import sys

In [29]:
import os

In [30]:
os.environ['CUDA_VISIBLE_DEVICES'] = ""

In [31]:
import tensorflow as tf

In [32]:
import numpy as np

In [33]:
import os

In [34]:
from tqdm import tqdm

In [35]:
import cv2

In [36]:
temp = []

for class_name in ['r', 'p', 'b', 'bl', 'g']:
    df = pd.read_csv('/home/vladimir/workspace/data/kaggle_seals/results/comp4_det_test_patches0_{class_name}.txt'.format(class_name=class_name) ,
                   header=None, 
                   sep=' ')
    df.columns = ['file_index', 'confidence', 'x_min', 'y_min', 'x_max', 'y_max']
    
    df['class_name'] = class_name
    
    temp += [df]

In [37]:
for class_name in ['r', 'p', 'b', 'bl', 'g']:
    df = pd.read_csv('/home/vladimir/workspace/data/kaggle_seals/results/comp4_det_test_patches1_{class_name}.txt'.format(class_name=class_name) ,
                   header=None, 
                   sep=' ')
    df.columns = ['file_index', 'confidence', 'x_min', 'y_min', 'x_max', 'y_max']
    
    df['class_name'] = class_name
    
    temp += [df]

In [38]:
df = pd.concat(temp)

In [39]:
df.head()

            file_index  confidence  x_min  y_min  x_max  y_max class_name
0  18578_3900_1950.jpg       0.969  314.2   58.8  374.7  102.7          r
1  18578_3900_1950.jpg       0.961  409.5  312.9  455.6  347.7          r
2  18578_3900_1950.jpg       0.859  564.3  372.8  633.1  449.7          r
3  18578_3900_1950.jpg       0.612  359.8  427.1  417.7  462.2          r
4  18578_3900_1950.jpg       0.584  541.5  292.0  587.6  397.4          r

In [40]:
df.shape

(3174842, 7)

In [41]:
df = df[df['confidence'] > 0.6]

In [42]:
df.shape

(615263, 7)

In [43]:
# df['file_name'] = df['file_index'].copy()

In [44]:
df['file_index'] = df['file_index'].str.replace('.jpg', '')

In [45]:
df['x_shift'] = df['file_index'].str.split('_').str.get(1).astype(int)
df['y_shift'] = df['file_index'].str.split('_').str.get(2).astype(int)

In [46]:
df['x_min'] += df['x_shift']
df['x_max'] += df['x_shift']

df['y_min'] += df['y_shift']
df['y_max'] += df['y_shift']

In [47]:
df.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift
0,18578_3900_1950,0.969,4214.2,2008.8,4274.7,2052.7,r,3900,1950
1,18578_3900_1950,0.961,4309.5,2262.9,4355.6,2297.7,r,3900,1950
2,18578_3900_1950,0.859,4464.3,2322.8,4533.1,2399.7,r,3900,1950
3,18578_3900_1950,0.612,4259.8,2377.1,4317.7,2412.2,r,3900,1950
14,6906_975_1950,0.634,1494.1,2696.8,1562.3,2847.0,r,975,1950

In [48]:
df['test_id'] = df['file_index'].str.split('_').str.get(0)

In [49]:
df.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id
0,18578_3900_1950,0.969,4214.2,2008.8,4274.7,2052.7,r,3900,1950,18578
1,18578_3900_1950,0.961,4309.5,2262.9,4355.6,2297.7,r,3900,1950,18578
2,18578_3900_1950,0.859,4464.3,2322.8,4533.1,2399.7,r,3900,1950,18578
3,18578_3900_1950,0.612,4259.8,2377.1,4317.7,2412.2,r,3900,1950,18578
14,6906_975_1950,0.634,1494.1,2696.8,1562.3,2847.0,r,975,1950,6906

In [50]:
df.shape

(615263, 10)

In [51]:
# sample = pd.DataFrame(pd.read_csv('../data/sample_submission.csv')['test_id'])
# sample['x'] = 1

In [52]:
# sample.info()

In [53]:
df['test_id'] = df['test_id'].astype(int)

In [54]:
df.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id
0,18578_3900_1950,0.969,4214.2,2008.8,4274.7,2052.7,r,3900,1950,18578
1,18578_3900_1950,0.961,4309.5,2262.9,4355.6,2297.7,r,3900,1950,18578
2,18578_3900_1950,0.859,4464.3,2322.8,4533.1,2399.7,r,3900,1950,18578
3,18578_3900_1950,0.612,4259.8,2377.1,4317.7,2412.2,r,3900,1950,18578
14,6906_975_1950,0.634,1494.1,2696.8,1562.3,2847.0,r,975,1950,6906

In [55]:
class_name_dict = {'r': 'adult_males',
                  'b': 'adult_females',
                   'p': 'subadult_males',
                  'bl': 'juveniles',
                  'g': 'pups'}

In [56]:
df.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id
0,18578_3900_1950,0.969,4214.2,2008.8,4274.7,2052.7,r,3900,1950,18578
1,18578_3900_1950,0.961,4309.5,2262.9,4355.6,2297.7,r,3900,1950,18578
2,18578_3900_1950,0.859,4464.3,2322.8,4533.1,2399.7,r,3900,1950,18578
3,18578_3900_1950,0.612,4259.8,2377.1,4317.7,2412.2,r,3900,1950,18578
14,6906_975_1950,0.634,1494.1,2696.8,1562.3,2847.0,r,975,1950,6906

In [57]:
df['id'] = df['test_id'].astype(str) + '_' + df['class_name']

In [71]:
df.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id,id
0,18578_3900_1950,0.969,4214.2,2008.8,4274.7,2052.7,r,3900,1950,18578,18578_r
1,18578_3900_1950,0.961,4309.5,2262.9,4355.6,2297.7,r,3900,1950,18578,18578_r
2,18578_3900_1950,0.859,4464.3,2322.8,4533.1,2399.7,r,3900,1950,18578,18578_r
3,18578_3900_1950,0.612,4259.8,2377.1,4317.7,2412.2,r,3900,1950,18578,18578_r
14,6906_975_1950,0.634,1494.1,2696.8,1562.3,2847.0,r,975,1950,6906,6906_r

In [58]:
g = df.groupby('id')

In [59]:
# temp = []
# for file_id, df_c in tqdm(g):
#     temp += [(file_id, df_c)]

In [60]:
# def do_nms((file_id, df_c)):
#     scores_input = tf.placeholder(tf.float32, shape=(None, ))
#     bboxes_input = tf.placeholder(tf.float32, shape=(None, 4))
#     bboxes_selection = tf.image.non_max_suppression(bboxes_input, scores_input, max_output_size=99, iou_threshold=0.2)

#     selected_bboxes = tf.gather(bboxes_input, bboxes_selection)
#     sess = tf.Session()
#     scores = df_c['confidence']
#     bboxes = df_c[['x_min', 'y_min', 'x_max', 'y_max']].values
    
#     result_bboxes = sess.run(selected_bboxes, feed_dict={scores_input: scores, bboxes_input: bboxes})
#     selected_scores = sess.run(tf.gather(scores_input, bboxes_selection), feed_dict={scores_input: scores, bboxes_input: bboxes})
    
#     df = pd.DataFrame(result_bboxes, columns = ['x_min', 'y_min', 'x_max', 'y_max'])
# #     df['id'] = file_id
# #     df['confidence'] = selected_scores
    
# #     temp += [df]
    
#     sess.close()
#     return (df, file_id, selected_scores)

In [61]:
# result = Parallel(n_jobs=8)(delayed(do_nms)(r) for r in temp)

In [62]:
# result = [do_nms(x) for x in tqdm(temp)]

In [63]:
def nms(name_groups):
    config = tf.ConfigProto()
#     config.gpu_options.allow_growth = True
    dfs = []n
    
    with tf.Session(config=config) as sess:
        for idx, name_group in enumerate(name_groups):
#             if idx % 100 == 0:
#                 print("in process {} progress {} of {}".format(current_process(), idx, len(name_groups)))
            name, group = name_group
            boxes_ph = tf.placeholder(np.float32, (None, 4), name='boxes')
            scores_ph = tf.placeholder(np.float32, (None, ), name='confs')
            
            boxes = group[['x_min', 'y_min', 'x_max', 'y_max']]
            scores = group['confidence']
            res = sess.run(tf.image.non_max_suppression(boxes_ph, scores_ph, 1000, 0.2),
                           feed_dict={boxes_ph: boxes, scores_ph: scores})
            r = group.values[res]
            dfs.append(r)
    return dfs

In [64]:
# a0 = nms(chunks[0])

In [65]:
# nms(chunks[0])

In [66]:
num_cpu = cpu_count()

In [67]:
grouped = df.groupby('id')
grouped = [(name, group) for name, group in grouped]
l = len(grouped)
sp = l // num_cpu
chunks = [grouped[i:i + sp] for i in range(0, l, sp)]

In [68]:
result = Parallel(n_jobs=8)(delayed(nms)(r) for r in chunks)

In [69]:
len(result)

9

In [77]:
pd.DataFrame(result[0][0])

            0      1       2       3       4       5  6     7    8  9    10
0    0_975_975  0.999  1663.4  1918.6  1703.4  1961.9  b   975  975  0  0_b
1    0_975_975  0.998  1844.1    1692    1888    1736  b   975  975  0  0_b
2    0_975_975  0.997    1549  1679.3  1584.5  1749.7  b   975  975  0  0_b
3    0_975_975  0.991    1515  1716.6  1549.8  1772.2  b   975  975  0  0_b
4   0_1950_975  0.989    2012    1509  2084.9  1547.4  b  1950  975  0  0_b
5    0_975_975  0.987  1528.7    1905    1561  1973.7  b   975  975  0  0_b
6    0_975_975  0.984  1550.4  1767.2  1608.2  1834.6  b   975  975  0  0_b
7    0_975_975  0.982  1840.2  1720.2    1863  1775.8  b   975  975  0  0_b
8    0_975_975  0.978  1567.9  1585.1  1605.8    1667  b   975  975  0  0_b
9    0_975_975  0.977  1530.9  1745.4    1558    1801  b   975  975  0  0_b
10   0_975_975  0.971  1841.6  1668.9  1876.3  1701.8  b   975  975  0  0_b
11   0_975_975  0.971  1780.1  1707.5  1803.2  1753.6  b   975  975  0  0_b
12   0_975_975  0.961  1610.1  1817.9  1678.1  1850.4  b   975  975  0  0_b
13   0_975_975  0.958  1572.7  1848.2  1646.9  1876.2  b   975  975  0  0_b
14   0_975_975  0.899  1582.2  1874.4  1619.4  1949.8  b   975  975  0  0_b
15   0_975_975  0.872  1869.3  1701.8  1949.6  1735.4  b   975  975  0  0_b
16   0_975_975  0.861  1603.2  1629.4  1640.1  1703.4  b   975  975  0  0_b
17   0_975_975  0.781  1925.5  1320.6  1955.7  1349.6  b   975  975  0  0_b
18   0_975_975  0.758  1851.9  1776.5  1893.9  1845.6  b   975  975  0  0_b
19   0_975_975    0.7  1452.3  1568.7  1489.2  1621.7  b   975  975  0  0_b
20   0_975_975   0.65  1800.2  1706.1  1828.8  1769.2  b   975  975  0  0_b
21   0_975_975  0.649  1621.8  1876.4  1682.7  1907.5  b   975  975  0  0_b
22   0_975_975   0.64  1785.5  1665.3  1835.8  1696.3  b   975  975  0  0_b

In [80]:
tmp = []
for c in tqdm(result):
    for r in c:       
        
        tmp += [pd.DataFrame(r)]

100%|██████████| 9/9 [00:06<00:00,  1.36it/s]

In [90]:
df1 = pd.concat(tmp).reset_index(drop=True)

In [91]:
df1.columns = df.columns

In [92]:
df1.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id,id
0,0_975_975,0.999,1663.4,1918.6,1703.4,1961.9,b,975,975,0,0_b
1,0_975_975,0.998,1844.1,1692,1888,1736,b,975,975,0,0_b
2,0_975_975,0.997,1549,1679.3,1584.5,1749.7,b,975,975,0,0_b
3,0_975_975,0.991,1515,1716.6,1549.8,1772.2,b,975,975,0,0_b
4,0_1950_975,0.989,2012,1509,2084.9,1547.4,b,1950,975,0,0_b

In [122]:
df1['file_name'] = df1['test_id'].astype(str) + '.jpg'

In [125]:
df1.head()

,file_index,confidence,x_min,y_min,x_max,y_max,class_name,x_shift,y_shift,test_id,id,file_name
0,0_975_975,0.999,1663.4,1918.6,1703.4,1961.9,b,975,975,0,0_b,0.jpg
1,0_975_975,0.998,1844.1,1692,1888,1736,b,975,975,0,0_b,0.jpg
2,0_975_975,0.997,1549,1679.3,1584.5,1749.7,b,975,975,0,0_b,0.jpg
3,0_975_975,0.991,1515,1716.6,1549.8,1772.2,b,975,975,0,0_b,0.jpg
4,0_1950_975,0.989,2012,1509,2084.9,1547.4,b,1950,975,0,0_b,0.jpg

In [ ]:
colors = {'r': (0, 0, 255),
#          'green': (0, 255, 0),
         'bl': (255, 0, 0),
         'p': (127, 0, 255),
#          'l_blue': (255, 255, 0),
#          'd_purple': (255, 0, 127),
#          'yellow': (0, 255, 255),
#          'orange': (0, 128, 255),
#          'l_green': (51, 102, 0)
         }

In [123]:
font = cv2.FONT_HERSHEY_SIMPLEX

In [126]:
for file_name in tqdm(df1['file_name'].values[:10]):
    img = cv2.imread(os.path.join('/home/vladimir/workspace/data/kaggle_seals/Test', file_name))
    df_c = df1[df1['file_name'] == file_name]
    for i in df_c.index:
        class_name = df_c.loc[i, 'class_name']
        probs = df_c.loc[i, 'confidence']        
        boxes = df_c.loc[i, ['x_min', 'y_min', 'x_max', 'y_max']].astype(int).values        
#         for j, value in enumerate(boxes):            
        (x_min, y_min, x_max, y_max) = boxes
        img = cv2.rectangle(img, (x_min, y_min), (x_max, y_max), colors[class_name], 2)
        img = cv2.putText(img, str(int(100 * probs)), (x_max, y_min), font, 1, colors[class_name], 2)
    cv2.imwrite(os.path.join('test_preds', file_name), img)

  0%|          | 0/10 [00:00<?, ?it/s]

NameError: name 'colors' is not defined

In [ ]:
df.head()

In [ ]:
# df['x_min'] = df['x_min'].astype(int)
# df['y_min'] = df['y_min'].astype(int)
# df['x_max'] = df['x_max'].astype(int)
# df['y_max'] = df['y_max'].astype(int)

In [ ]:
sample = pd.read_csv('../data/sampleSubmission.csv')

In [ ]:
def helper(x):
    a = x['filtered_boxes']    
    result = []    
    for b in a:        
        result += ['{x}:{y}'.format(x=int(np.mean([b[0], b[2]])), 
                                      y=int(np.mean([b[1], b[3]])))]
    return '|'.join(result)

In [ ]:
df['x_mean'] = ((df['x_min'] + df['x_max']) / 2).astype(int)
df['y_mean'] = ((df['y_min'] + df['y_max']) / 2).astype(int)

In [ ]:
df['class_name'] = df['class_name'].str.upper()

In [ ]:
df.head()

In [ ]:
df['id'] = df['file_name'].str.replace('.jpg', '') + '_' + df['class_name']

In [ ]:
df.head()

In [ ]:
df['score'] = df['x_mean'].astype(str) + ':' + df['y_mean'].astype(str)

In [ ]:
# create file that will be changed to the Pascal Voc Format
result = []

g = df.groupby('file_name')

for file_name, df_c in tqdm(g):
    temp = []
    for i in df_c.index:
        x_min = int(df_c.loc[i, 'x_min'])
        y_min = int(df_c.loc[i, 'y_min'])
        x_max = int(df_c.loc[i, 'x_max'])
        y_max = int(df_c.loc[i, 'y_max'])
        class_name = df_c.loc[i, 'class_name']
        
        width = x_max - x_min
        height = y_max - y_min
        
        temp += [{
                'x': x_min,
                'y': y_min,
                'height': height,
                'width': width,
                'class': class_name
            }]
        result += [{'filename': '/home/vladimir/workspace/data/dstl_cars/VOC2017/test/' + file_name,
                   'annotations': temp,
                   'class': "image"}]

In [ ]:
result[0]

In [ ]:
json.dump(result, open('preds.json', 'w'), indent=4)

In [ ]:
g = pd.DataFrame(df.groupby('id')['score'].agg(lambda x: '|'.join(x))).reset_index()

In [ ]:
s = sample.merge(g, on='id', how='left')

In [ ]:
s = s[['id', 'score']]
s.columns = ['id', 'detections']

In [ ]:
s['detections'] = s['detections'].fillna('None')

In [ ]:
s.shape

In [ ]:
s.to_csv('../data/try_1000_vgg_32_06.csv', index=False)